
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  h1 {
    font-family: "Modak", system-ui;
    font-weight: 100;
    font-size: 72px;
    color: #0072BD;
    font-style: normal;
    position: absolute;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);

  }


  #map {
    position: absolute;
    height: 765px;
    width: 100%;
    border: none;
  
  }

  