
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  h1 {
    font-family: "Modak", system-ui;
    font-weight: 100;
    font-size: 72px;
    color: #0072BD;
    font-style: normal;
    position: absolute;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);

  }


  #map {
    position: absolute;
    height: 765px;
    width: 100%;
    border: none;
  
  }

  .speech-bubble {
    position: absolute;
    background: #0072BD;
    border-radius: 10px;
    padding: 15px;
    width: 150px !important;
    height: 60px !important;
    z-index: 1000;
    font-family: sans-serif;
    margin-top: 100px;
  }
  
  /* Der Pfeil unten links */
  .speech-bubble::after {
    content: "";
    position: absolute;
    top: 15px;
    right: -15px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: #0072BD;
  }
  .test {
    color: chocolate;
  }

  