
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  h1 {
    font-family: "Modak", system-ui;
    font-weight: 100;
    font-size: 72px;
    color: #0072BD;
    font-style: normal;
    position: absolute;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);

  }

  h2 {
    font-size: 24px;
  }

 /* Leaflet-Kartencontainer */
  #map {
    position: absolute;
    height: 100%;
    width: 100%;
    border: none;
  
  }

 /* Styling für die Sprechblase */
  .leaflet-popup-content-wrapper {
    max-width: 400px;
    background-color: #0072BD;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }

  .leaflet-popup-tip {
    background-color: #0072BD;
  }

   /* Styling für den Text im Popup */
  .text-label {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }


  @media (max-width: 1024px) {
    h1 {
      font-size: 56px;
    }
  
    .leaflet-popup-content-wrapper {
      font-size: 12px;
      max-width: 300px;
    }

    .leaflet-popup-content {
      max-width: 280px;
    }
  
    .text-label {
      font-size: 16px;
    }
  
    .leaflet-marker-icon {
      transform: scale(0.8);
    }
  
  }
  
  
  @media (max-width: 480px) {
    h1 {
      font-size: 36px;
    }
  
    .text-label {
      font-size: 14px;
    }
  
    .leaflet-popup-content h2 {
      font-size: 14px;
    }
  
    .leaflet-popup-content .info {
      font-size: 11px;
    }
  
    .leaflet-marker-icon {
      transform: scale(0.6);
    }

    .leaflet-popup-content-wrapper {
      transform: scale(1.0);
      transform-origin: bottom center;
      margin: auto;
      white-space: normal;
    }
  
    .leaflet-popup-content {
      line-height: 1.4;
      word-break: break-word;
      overflow-wrap: break-word;
    }
  
  }